<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Account Details for <%=@user.username%></h1>
    <p>Username: <%=@user.username%></p>
    <p>Password: <%=@user.password%></p>
    <p>Balance: <%=@user.balance%></p>
  </body>
</html>
