<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Account Details</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
<% if Helper.is_logged_in?%>

<h1>TEST</h1>
<%current_user = Helper.current_user(session)%>

    <h1>Account Details for <%=current_user.username%></h1>
    <p>Username: <%=@user.username%></p>
    <p>Password: <%=@user.password%></p>
    <p>Balance: <%=@user.balance%></p>

    <%else%>
    <a href="/">Return to Home Page</a>



    <a href="/logout">Log Out</a>
  </body>
</html>
